@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @* Możliwość dodania klienta itp*@
    <a href="../Customer">Klienci</a>

    <div>
        <a href="">
            @*Rozwijane menu i ponizej beda dwie ponizsze akcje*@
            Fotografia

        </a>
        @* Opis zdjec, dlaczego sa robione, jak itp*@
        <a href="">O Moich zdjęciach</a>
        @* Galeria przedstawiajaca wszystkie zdjecia*@
        <a href="">Galeria zdjęć</a>
    </div>
    @* Ewentualnie blog i jakies teksty*@
    <a href="">Blog</a>
    @* Kalendarz z dostepnymi terminami*@
    <a href="">Terminarz</a>
    @* Krótki opis od kiedy dzialam itp*@
    <a href="">O mnie</a>
    @* Wszystkie informacje kontaktowe*@
    <a href="">Kontakt</a>
    @* Mozliwosc wspolpracy*@
    <a href="">Współpraca</a>

    @* no i ewentualnie w rogu linki do fb, insta itp*@





</div>
