.nav-menu {
    background-color: #ccc;
}

.nav-menu:after {
        content: '';
        clear: both;
        display: block;
    }

.nav-menu ul {
        list-style: none;
        margin: 0;
    }

.nav-menu > ul > li {
        float: left;
        position: relative;
    }

.nav-menu ul li a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
}

.nav-menu ul li:hover a {
    background: #00ffff;
}
/*.nav-menu ul ul {
    position: absolute;
    padding: 0;
    min-width: 160px;
    display: none;
    top: 80%;
    
}*/

.nav-menu ul ul {
    position: absolute;
    padding: 0;
    min-width: 160px;
    display: none;
    top: 85%;
}
.nav-menu ul li:hover > ul {
        display: block;
    }

.nav-menu ul ul li {
    position: relative;
}
.nav-menu ul ul ul {
    top: 0;
    left: 100%;
}

.navbar-brand {
    font-size: 16px;
    border: 1px solid black;
    padding: 6px 6px;
}

/*a .nav-link .text-dark {
    position: absolute;
    display: none;
    top: 45%;
}*/