
@{
    ViewData["Title"] = "Index";
}

<h1 class="main-text">O mnie</h1>
@*<img src="/gallery/julia.jpg" alt="zdjecie" />*@
<div class="about">
    <br />

    <div class="about-me-more">
        <h3>Trochę o mnie</h3>
        <p class="about-me">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur rerum deserunt fuga error,
            soluta nisi cum necessitatibus vitae suscipit voluptas, minima nihil delectus illo dignissimos! Minus architecto quaerat debitis minima. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur rerum deserunt fuga error,
            soluta nisi cum necessitatibus vitae suscipit voluptas, minima nihil delectus illo dignissimos! Minus architecto quaerat debitis minima.Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur rerum deserunt fuga error,
            soluta nisi cum necessitatibus vitae suscipit voluptas, minima nihil delectus illo dignissimos! Minus architecto quaerat debitis minima.Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur rerum deserunt fuga error,
            soluta nisi cum necessitatibus vitae suscipit voluptas, minima nihil delectus illo dignissimos! Minus architecto quaerat debitis minima.Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur rerum deserunt fuga error,
            soluta nisi cum necessitatibus vitae suscipit voluptas, minima nihil delectus illo dignissimos! Minus architecto quaerat debitis minima.
        </p>
    </div>
    <div class="about-photo">
        <h3>Dlaczego fotografia?</h3>
        <p class="about-me">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur rerum deserunt fuga error,
            soluta nisi cum necessitatibus vitae suscipit voluptas, minima nihil delectus illo dignissimos! Minus architecto quaerat debitis minima.Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur rerum deserunt fuga error,
            soluta nisi cum necessitatibus vitae suscipit voluptas, minima nihil delectus illo dignissimos! Minus architecto quaerat debitis minima.Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur rerum deserunt fuga error,
            soluta nisi cum necessitatibus vitae suscipit voluptas, minima nihil delectus illo dignissimos! Minus architecto quaerat debitis minima.Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur rerum deserunt fuga error,
            soluta nisi cum necessitatibus vitae suscipit voluptas, minima nihil delectus illo dignissimos! Minus architecto quaerat debitis minima.Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur rerum deserunt fuga error,
            soluta nisi cum necessitatibus vitae suscipit voluptas, minima nihil delectus illo dignissimos! Minus architecto quaerat debitis minima.
        </p>
    </div>
    <div class="about-session">
        <h3>Jakie sesje w fotografii?</h3>
        <p class="about-me">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur rerum deserunt fuga error,
            soluta nisi cum necessitatibus vitae suscipit voluptas, minima nihil delectus illo dignissimos! Minus architecto quaerat debitis minima.Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur rerum deserunt fuga error,
            soluta nisi cum necessitatibus vitae suscipit voluptas, minima nihil delectus illo dignissimos! Minus architecto quaerat debitis minima.Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur rerum deserunt fuga error,
            soluta nisi cum necessitatibus vitae suscipit voluptas, minima nihil delectus illo dignissimos! Minus architecto quaerat debitis minima.Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur rerum deserunt fuga error,
            soluta nisi cum necessitatibus vitae suscipit voluptas, minima nihil delectus illo dignissimos! Minus architecto quaerat debitis minima.Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur rerum deserunt fuga error,
            soluta nisi cum necessitatibus vitae suscipit voluptas, minima nihil delectus illo dignissimos! Minus architecto quaerat debitis minima.
        </p>
    </div>
    <div class="about-why-me">
        <h3>Dlaczego akurat ja?</h3>
        <p class="about-me">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur rerum deserunt fuga error,
            soluta nisi cum necessitatibus vitae suscipit voluptas, minima nihil delectus illo dignissimos! Minus architecto quaerat debitis minima.Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur rerum deserunt fuga error,
            soluta nisi cum necessitatibus vitae suscipit voluptas, minima nihil delectus illo dignissimos! Minus architecto quaerat debitis minima.Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur rerum deserunt fuga error,
            soluta nisi cum necessitatibus vitae suscipit voluptas, minima nihil delectus illo dignissimos! Minus architecto quaerat debitis minima.Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur rerum deserunt fuga error,
            soluta nisi cum necessitatibus vitae suscipit voluptas, minima nihil delectus illo dignissimos! Minus architecto quaerat debitis minima.
        </p>
    </div>
</div>